/* /* Responsif  576px */
@media (max-width: 576px) {
  /* Global CSS */

  .title-content {
    font-size: 18px;
  }
  .title-desc {
    font-size: 14px;
  }

  /* Jumbotron */
  .jumbotron {
    margin-top: 55px;
  }
  .text-jmb {
    width: 311px;
    font-size: 30px;
  }
  .text-desc-jmb {
    font-size: 16px;
    width: 311px;
  }

  /* Sponsor */
  .sponsor {
    margin-top: 50px;
  }
  .image-sponsor {
    height: 18px;
    margin: 5px;
  }

  /* JOB Popular */
  .popular-job .img-company {
    height: 90px;
  }

  .popular-job .company-title {
    font-size: 12px;
  }

  .popular-job .text-job {
    font-size: 11px;
  }

  .popular-job .text-date {
    font-size: 10px;
    margin-top: 5px;
  }

  /* Testimonial */
  .testimonial .img-pict-testi {
    height: 30px;
    width: 30px;
  }

  .testimonial .username {
    font-size: 12px;
  }

  .testimonial .pekerjaan {
    font-size: 11px;
  }

  .testimonial .testi {
    font-size: 10px;
  }

  /* Footer */
  .footer .text-footer {
    margin-top: 12px;
  }

  .footer .footer-address {
    font-size: 10px;
  }

  .footer .title-link {
    color: #02044a;
    font-weight: 500;
    font-size: 12px;
  }

  .footer .list-item,
  a,
  a:hover {
    font-size: 12px;
  }

  .footer .copyright {
    font-size: 12px;
  }

  /* Informasi Page */
  .informasi {
    flex-direction: column;
  }

  .img-informasi {
    width: 100%;
    height: 150px;
    border-radius: 15px;
  }
}
